[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    if __name__ == "__main__":
[run]
include =
        ./base-my_first_sudoku_solver/*
omit = ./base-my_first_sudoku_solver/setup.py
disable_warnings=include-ignored
